* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-primario: #2f60ff14;
$color-secundario: black;
$fuente-principal: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$tamaño-letra: 1rem;
$tamaño-letra1: 0.8rem;