
.titulo-aparecer-desktop{

   display:none


}

.titulo-aparecer-mobile{

    display: none

}


.titulo{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$color-primario ;

    &__venta {

        padding-top: 0%;
        align-items: center;
        justify-content: center;
        font: bold 2rem black;
        background-color: $color-primario;
        margin: 0%;
    }

}

.contenedor-main{

    display:grid;

    grid-template-columns: 1fr minmax(360px,25vw);
    grid-template-rows: 70vw;
    background-color: $color-primario;
    grid-template-areas:
    "cuerpo aside1"
    "cuerpo1 aside2";
    border-bottom: 1px solid black;

    &__section{

        justify-content: center;
        align-items: center;
        grid-column: 1;
        grid-row: 1/2;
        height: 60vh;


        .articulo{
            padding:20px;
            display: flex;
            flex-direction: column;
            justify-content: center ;
            align-items: center;
            vertical-align: center;
            overflow: hidden;

            &__titulo{
                font-size: 2rem;
            }

            &__imagen{
                padding-top: 10%;
            }
            &__imagen-carrito{
                padding-top: 30%;
            }
            &__figcaption{
                padding-top: 3%;
                font-family:$fuente-principal;
            }
            &__centrar-texto{
                font-family:$fuente-principal;
            }

            .tabla-li-tabla{
                border-radius: 2px;
                border:1px $color-secundario;
            }

            &__tabla-faq{
                border-radius: 3px;
                border: solid 2px $color-secundario;
                display: flex;
                flex-direction: column;
                margin:20px;


                .tabla-faq__centrar{

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-radius: 3px;
                    border: solid 2px $color-secundario;

                }
            }

        }

    }
    &__aside-cambiar{

        overflow: hidden;

        .aside-cambiar-tabla{

            display: flex;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-top: 35vh;

            .aside-cambiar-th{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                border: solid 2px $color-secundario;

            }

        }

        .form-action{

            align-items: center;
            justify-content: center;





        }



    }

    &__label-estrellas{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    &__aside-cambiar{

        .form-action{

            &__label-estrellas{

                padding-top: 10%;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            .btn-aside{
                padding-top: 10px;
                padding-bottom: 10%;
                gap: 10px;


                &__boton{


                    border-radius: 2px;
                    font-size: small;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


                }

            }

        }



    }


}

@media (min-width:576px) and (max-width:1059px) {

    .titulo-aparecer-desktop{

        display:none;

    }

    .titulo-aparecer-mobile{

        color: blue;
        margin-left: 30%;
        margin-right: 0%;
        justify-content: center;
        align-items: center;
        font-size: medium;
        background-color: $color-primario;

    }

    .titulo{
        &__venta{
            font-size: medium;
            font-family: $fuente-principal;
        }

    }
    .contenedor-main{

        display: flex;
        overflow: scroll;
        grid-template-columns: repeat(2, 1fr) ;
        grid-template-rows: 2;

        &__section{
            flex:1;
            height: 20vh;

            .articulo{

                &__titulo{

                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: $tamaño-letra;
                }

                &__centrar-texto{


                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: $tamaño-letra1;
                }

                &__tabla{

                    .tabla-li-tabla{

                        font-size: $tamaño-letra1;
                        color: red;

                    }


                }

            }

        }



        &__aside-cambiar{

            flex:1;
            overflow: scroll;
            background-image: $color-primario;
            background-size: auto;
            background-attachment: fixed;
            background-repeat: no-repeat;
            height:  100%;
            width: auto;
            background-position: center center;
            position: relative;
            display: inline;

            .form.form-action{

                display: flex;
                justify-content: center;
                align-items: center;

            }


            .form-action{

                &__label-estrellas{

                    &__estrellas{

                        font-size: $tamaño-letra1;
                        color: green;

                    }
                }
            }
        }
    }

}


@media (max-width:575px){

    .titulo{
        &__venta{
            font-size: small;
        }
    }

    .contenedor-main{
        flex-wrap: wrap;
        background-color: gold;
        display: flex;
        flex-direction: column;
        max-height: unset;

        &__section{
            background-color: gold;
            scroll-snap-align: start;
            flex-basis: 100%;
            height: 50%;
            .articulo{
                &__titulo{
                    font-size: 1rem;
                    justify-content: center;
                    align-items: center;
                }
                &__figcaption{

                    font-size: 0.8rem;
                    justify-content: center;
                    align-items: center;

                }

                &__centrar-texto{

                    display: flex;
                    font-size: 0.8rem;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                }

                &__tabla{

                    .tabla-li-tabla{

                        font-size: 0.8rem;
                        justify-content: center;
                        align-items: center;

                    }
                }

                &__tabla-faq{

                    .tabla-faq__centrar{
                        border: 2px solid black;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }

                }

            }

        }

        &__aside-cambiar{

            max-width: 100%;
            overflow-x: auto;
            padding-top: 0px;

            .aside-cambiar-tabla{

                width: 100%;
                white-space: normal;
                font-size: small;
                margin-top: 5%;

            }

            .form-action{

                padding-bottom: 10%;

            }
        }
    }

}
