.formheader-btn{
    width: 100px;
    margin: 1vh;
    background-color: #f7f5f8;
    border-radius: 5px;
    }
.formheader-btn1{
    width: 100px;
    margin: 1vh;
    background-color: #f7f5f8;
    border-radius: 5px;
    }

.btn-aside{
    display: flex;
    align-items: center;
    flex-direction: row;
    row-gap: 8px;


    &__boton{

        font-size: medium;
        font-family: $fuente-principal;
        border:$color-secundario 2px bold;
        border-radius: 2px;
        }
    }

    .btn-aside__boton{

        font-size: 15px;
        width: 22vw ;
        background-color: #f7f5f8;
        border-radius: 5px;
    }


@media (min-width:576px) and (max-width:1059px) {

    .btn-aside{

        display: flex;
        justify-content: center;
        align-items: center;

        &__boton{
            gap: 10px;
            max-width: 90px;
            height: 40px;
            row-gap: 30px;
            font-size: small;
            text-align: center;
            justify-content: center;
        }

    }
    .btn-aside__boton{

        font-size: 10px;
        width: 22vw ;
        background-color: #f7f5f8;
        border-radius: 5px;
    }

}

@media (max-width:575px){

    .formheader-btn{
        font-size: 10px;
        width: 22vw ;
    }

    .formheader-btn1{
        font-size: 10px;
        width: 22vw ;
    }

    .boton{

        font-size: 10px;
        width: 22vw ;
    }

    .btn-aside__boton{

        font-size: 10px;
        width: 22vw ;
        background-color: #f7f5f8;
        border-radius: 5px;
    }

    .btn-aside{
        display: flex;
        align-items: center;
        flex-direction: row;
        row-gap: 8px;
        padding-left: 25%;


        &__boton{

            font-size: medium;
            font-family: $fuente-principal;
            border:$color-secundario 2px bold;
            border-radius: 2px;
            }
        }


}