.contenedors{

    display:grid;
    height: 20vw;
    gap:20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(30px,5vw) minmax(30px,10vw);
    background-color: rgb(0, 225, 255);
    grid-template-areas: 
    "mapa tecnologia futuro"
    "mapa tecnologia futuro";

    &-footer__titulo1{
        padding-left: 10%;
        padding-top: 10%;
        grid-area: mapa;
        grid-column: 1;
        grid-row: 1 ;
        font-size: large;
    }

    &-footer__titulo2{
        padding-left: 10%;
        padding-top: 10%;
        grid-area: futuro;
        grid-column: 3;
        grid-row: 1 ;
        font-size: large;
    }

    &-mapa__map{
        
        height: 100%;
        width: 100% ;
        grid-column: 1;
        grid-row: 2;

    }

    &-mapa__imagen{

        height: 100%;
        width: 100% ;
        grid-column: 2;
        grid-row: 2;

    }

    &-mapa__imagen1{

        height: 100%;
        width: 100% ;
        grid-column: 3;
        grid-row: 2;

    }
}

@media (min-width:576px) and (max-width:1059px) {

    .contenedors{

        max-width: 100%;
        overflow: hidden;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(20px,5vh) minmax(100px,20vh);
        grid-template-areas: 
        "mapa frase formas"
        "mapa frase formas"
       ; 
       align-items: center; 
       justify-items: center;

        &-footer__titulo1{
        
            text-overflow: ellipsis;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            padding-top: 10%;
            grid-column: 1;
            grid-row: 1;
            max-height: 100%;
            white-space: nowrap;
       
        }

        &-footer__titulo2{

            text-overflow: ellipsis;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            padding-top: 10%;
            grid-column: 3;
            grid-row: 1;
            max-height: 100%;
            white-space: nowrap;
     
        }
        
        &-mapa__map{

            overflow: hidden;
            grid-column: 1;
            grid-row: 2;
            width: 30vw; 
            height: 20vh;

        }
        
        &-mapa__imagen{

            overflow: hidden;
            grid-column: 2;
            grid-row: 2;
            width: 30vw; 
            height: 20vh;
        }

        &-mapa__imagen1{

            overflow: hidden;
            grid-column: 3;
            grid-row: 2;
            width: 30vw; 
            height: 20vh;
        
        }

    }

}    

@media (max-width:575px){

    .contenedors{

        height: 48vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 3vh) repeat(2, 10vh) repeat(1, 3vh) repeat(1, 10vh) ;
        grid-template-areas: 
        "Titulo"
        "Mapa"
        "Imagen"
        "Imagen"
        "Titulo2"
        "Imagen2"
        "Imagen2"
        ;

        align-items: center; 
        justify-items: center;
        
        &-footer__titulo1{

            grid-column: 1;
            grid-row: 1;
            text-align: center;
            top: 0;
            padding:0%;
            margin: 0;
            font-size: small;
    
        }

        &-mapa__map{

            grid-column: 1;
            grid-row: 2;
            justify-content: center;
            align-items: center;
            width: 50%;
            justify-content: center;
            align-items: center;

        }

        &-mapa__imagen{

            grid-column: 1;
            grid-row: 3;
            justify-content: center;
            align-items: center;
            width: 50%;
            justify-content: center;



        }

        &-footer__titulo2{


            grid-column: 1;
            grid-row: 4;
            text-align: center;
            top: 0;
            padding:0%;
            margin: 0;
            font-size: small;

        }

        &-mapa__imagen1{

            grid-column: 1;
            grid-row: 5;
            justify-content: center;
            align-items: center;
            width: 50%;
            justify-content: center;
        }
     
    }

}    