.header{

    background: $color-primario;

    &__titulo-aparecer-mobile{
        display: none;
    }

    &__form{

        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }

}

@media (max-width:575px){

    .header{
        background-color:  #e7771b62;

        &__titulo-aparecer-mobile{

            display: block;
            font-size: small;
            justify-content: center;
            align-items: center;
            grid-column: 2;
            grid-row: 1;
            background: #e7771b62;

        }
        &__form{
            display: flex;
            grid-column: 3;
            grid-row: 1;

            &__formheader-hyper1{

                justify-content: center;
                align-items: center;
                font-size: 10px;
                width: 100%;
            }
            &__formheader-hyper2{

                justify-content: center;
                align-items: center;
                font-size: 10px;
                width: 100%;
            }
        }
    }
}

@media (max-width:375px){

    .header{

        background-color: $color-primario;

        &__titulo-aparecer-mobile{

            display: flex;
            font-size: small;
            align-items: center;
            justify-content: center;
            padding-left: 10vw;
        }

        .navbar.navbar-expand-sm.bg-body-tertiary{

            grid-row: 2;
            grid-column: 1;

        }
    }
}




.centrar{

        font-size: large;
        color: blue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

.titulo-productosinformáticos{

    text-align: center;
    color: $color-secundario;
    font-size: 2rem;
    background-color: $color-primario;

}

@media (max-width:429px){

    .titulo-productosinformáticos{

        text-align: center;
        font-size: small;
        justify-content: center;
        align-items: center;

    }


}

